:root {
  --border-color: #291D4D;
  --dialog-background: #FFF3b4;
  --menu-background: #FFE8D2;
  --menu-border-color: #A48465;
  --menu-font-color: #3a160D;
  --menu-selected-background: #7fc2ff ;
}

* {
  box-sizing: border-box;
}

body {
  background: rgb(187, 167, 131);
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* wraps entire game */
.game-container {
  position: relative;
  width: 352px;
  height: 198px;
  outline: 1px solid #fff;
  margin: 0 auto;

  transform: scale(2) translateY(50%);
}

.game-container canvas {
  image-rendering: pixelated;
}
